<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>米饭 （一碗）</string>
		<key>cal</key>
		<string>210</string>
	</dict>
	<dict>
		<key>name</key>
		<string>馒头</string>
		<key>cal</key>
		<string>233</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花卷</string>
		<key>cal</key>
		<string>217</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小笼包（5个）</string>
		<key>cal</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肉包子 （1个）</string>
		<key>cal</key>
		<string>250</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水饺（10个）</string>
		<key>cal</key>
		<string>420</string>
	</dict>
	<dict>
		<key>name</key>
		<string>菜包 （1个）</string>
		<key>cal</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>煎饼</string>
		<key>cal</key>
		<string>333</string>
	</dict>
	<dict>
		<key>name</key>
		<string>咖喱饺 （5个）</string>
		<key>cal</key>
		<string>1225</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猪肉水饺 （10个）</string>
		<key>cal</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蛋饼 （一份）</string>
		<key>cal</key>
		<string>255</string>
	</dict>
	<dict>
		<key>name</key>
		<string>豆沙包 （5个）</string>
		<key>cal</key>
		<string>1075</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鲜肉包 （5个）</string>
		<key>cal</key>
		<string>1225</string>
	</dict>
	<dict>
		<key>name</key>
		<string>叉烧包 （5个）</string>
		<key>cal</key>
		<string>800</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小水煎包 （10个）</string>
		<key>cal</key>
		<string>1100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>韭菜盒子</string>
		<key>cal</key>
		<string>260</string>
	</dict>
	<dict>
		<key>name</key>
		<string>春卷 （100g）</string>
		<key>cal</key>
		<string>463</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烧饼</string>
		<key>cal</key>
		<string>326</string>
	</dict>
	<dict>
		<key>name</key>
		<string>油条 （一根）</string>
		<key>cal</key>
		<string>230</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花生豆花</string>
		<key>cal</key>
		<string>180</string>
	</dict>
	<dict>
		<key>name</key>
		<string>三鲜豆皮</string>
		<key>cal</key>
		<string>240</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烧卖</string>
		<key>cal</key>
		<string>1304</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汤包</string>
		<key>cal</key>
		<string>238</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烙饼 </string>
		<key>cal</key>
		<string>225</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白水羊头</string>
		<key>cal</key>
		<string>193</string>
	</dict>
	<dict>
		<key>name</key>
		<string>艾窝窝</string>
		<key>cal</key>
		<string>190</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白吐司 （1片）</string>
		<key>cal</key>
		<string>130</string>
	</dict>
	<dict>
		<key>name</key>
		<string>米粉汤</string>
		<key>cal</key>
		<string>185</string>
	</dict>
	<dict>
		<key>name</key>
		<string>粉丝</string>
		<key>cal</key>
		<string>335</string>
	</dict>
	<dict>
		<key>name</key>
		<string>粉皮</string>
		<key>cal</key>
		<string>64</string>
	</dict>
	<dict>
		<key>name</key>
		<string>凉粉</string>
		<key>cal</key>
		<string>37</string>
	</dict>
	<dict>
		<key>name</key>
		<string>粉条</string>
		<key>cal</key>
		<string>336</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肉羹米粉</string>
		<key>cal</key>
		<string>350</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广东粥</string>
		<key>cal</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>皮蛋瘦肉粥</string>
		<key>cal</key>
		<string>367</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鱼肉饭团</string>
		<key>cal</key>
		<string>205</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腐竹皮</string>
		<key>cal</key>
		<string>489</string>
	</dict>
	<dict>
		<key>name</key>
		<string>豆腐皮</string>
		<key>cal</key>
		<string>409</string>
	</dict>
	<dict>
		<key>name</key>
		<string>桂林腐乳</string>
		<key>cal</key>
		<string>204</string>
	</dict>
	<dict>
		<key>name</key>
		<string>豆腐丝</string>
		<key>cal</key>
		<string>201</string>
	</dict>
	<dict>
		<key>name</key>
		<string>熏干</string>
		<key>cal</key>
		<string>153</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酱豆腐</string>
		<key>cal</key>
		<string>151</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香干</string>
		<key>cal</key>
		<string>147</string>
	</dict>
	<dict>
		<key>name</key>
		<string>豆腐干</string>
		<key>cal</key>
		<string>140</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海南乳</string>
		<key>cal</key>
		<string>138</string>
	</dict>
	<dict>
		<key>name</key>
		<string>菜干</string>
		<key>cal</key>
		<string>136</string>
	</dict>
	<dict>
		<key>name</key>
		<string>臭豆腐 （5块）</string>
		<key>cal</key>
		<string>650</string>
	</dict>
	<dict>
		<key>name</key>
		<string>北豆腐</string>
		<key>cal</key>
		<string>98</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酸豆乳</string>
		<key>cal</key>
		<string>67</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南豆腐</string>
		<key>cal</key>
		<string>57</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白薯干</string>
		<key>cal</key>
		<string>612</string>
	</dict>
	<dict>
		<key>name</key>
		<string>土豆粉</string>
		<key>cal</key>
		<string>337</string>
	</dict>
	<dict>
		<key>name</key>
		<string>地瓜粉</string>
		<key>cal</key>
		<string>336</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大麦</string>
		<key>cal</key>
		<string>307</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白薯</string>
		<key>cal</key>
		<string>64</string>
	</dict>
	<dict>
		<key>name</key>
		<string>豆腐脑</string>
		<key>cal</key>
		<string>47</string>
	</dict>
	<dict>
		<key>name</key>
		<string>豆汁</string>
		<key>cal</key>
		<string>10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>绿豆凸</string>
		<key>cal</key>
		<string>320</string>
	</dict>
	<dict>
		<key>name</key>
		<string>炒肝</string>
		<key>cal</key>
		<string>96</string>
	</dict>
	<dict>
		<key>name</key>
		<string>油茶</string>
		<key>cal</key>
		<string>94</string>
	</dict>
	<dict>
		<key>name</key>
		<string>茶汤</string>
		<key>cal</key>
		<string>92</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小豆粥</string>
		<key>cal</key>
		<string>61</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑轮 （1串）</string>
		<key>cal</key>
		<string>90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猪血糕</string>
		<key>cal</key>
		<string>130</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鱼板</string>
		<key>cal</key>
		<string>60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>玉米棒</string>
		<key>cal</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>油豆腐</string>
		<key>cal</key>
		<string>80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>贡丸串 （1串）</string>
		<key>cal</key>
		<string>367</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香菇丸（1串）</string>
		<key>cal</key>
		<string>90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蛋丸 （1串）</string>
		<key>cal</key>
		<string>90</string>
	</dict>
	<dict>
		<key>name</key>
		<string>多拿滋 （1串）</string>
		<key>cal</key>
		<string>70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡香卷 （1串）</string>
		<key>cal</key>
		<string>70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>龙虾棒 （1串）</string>
		<key>cal</key>
		<string>95</string>
	</dict>
	<dict>
		<key>name</key>
		<string>五位丸 （1串）</string>
		<key>cal</key>
		<string>80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>豆豉</string>
		<key>cal</key>
		<string>244</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡蛋 （1个）</string>
		<key>cal</key>
		<string>86</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蛋清 （1份）</string>
		<key>cal</key>
		<string>16</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蛋黄</string>
		<key>cal</key>
		<string>59</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸭蛋</string>
		<key>cal</key>
		<string>114</string>
	</dict>
	<dict>
		<key>name</key>
		<string>咸鸭蛋</string>
		<key>cal</key>
		<string>190</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鹌鹑蛋 （5个）</string>
		<key>cal</key>
		<string>80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>火鸡蛋</string>
		<key>cal</key>
		<string>135</string>
	</dict>
	<dict>
		<key>name</key>
		<string>松花蛋</string>
		<key>cal</key>
		<string>178</string>
	</dict>
	<dict>
		<key>name</key>
		<string>瘦火腿 （2片）</string>
		<key>cal</key>
		<string>70</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白切鸡 （1块）</string>
		<key>cal</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烧鸭 （3两）</string>
		<key>cal</key>
		<string>356</string>
	</dict>
	<dict>
		<key>name</key>
		<string>煎猪肉</string>
		<key>cal</key>
		<string>440</string>
	</dict>
	<dict>
		<key>name</key>
		<string>火腿 （100g）</string>
		<key>cal</key>
		<string>320</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香肠</string>
		<key>cal</key>
		<string>508</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腊肠 （2条）</string>
		<key>cal</key>
		<string>310</string>
	</dict>
	<dict>
		<key>name</key>
		<string>羊肉前腿</string>
		<key>cal</key>
		<string>111</string>
	</dict>
	<dict>
		<key>name</key>
		<string>羊肉后腿</string>
		<key>cal</key>
		<string>102</string>
	</dict>
	<dict>
		<key>name</key>
		<string>羊肚</string>
		<key>cal</key>
		<string>87</string>
	</dict>
	<dict>
		<key>name</key>
		<string>羊舌</string>
		<key>cal</key>
		<string>225</string>
	</dict>
	<dict>
		<key>name</key>
		<string>羊肉串  （2串）</string>
		<key>cal</key>
		<string>230</string>
	</dict>
	<dict>
		<key>name</key>
		<string>羊肉 （100g）</string>
		<key>cal</key>
		<string>215</string>
	</dict>
	<dict>
		<key>name</key>
		<string>羊血</string>
		<key>cal</key>
		<string>57</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猪血</string>
		<key>cal</key>
		<string>55</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猪口条</string>
		<key>cal</key>
		<string>233</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猪耳朵</string>
		<key>cal</key>
		<string>190</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猪蹄 （熟）</string>
		<key>cal</key>
		<string>260</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猪肉 （肥）</string>
		<key>cal</key>
		<string>816</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猪肉 （软五花）</string>
		<key>cal</key>
		<string>349</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猪肉 （硬五花）</string>
		<key>cal</key>
		<string>339</string>
	</dict>
	<dict>
		<key>name</key>
		<string>牛肉 （100g）</string>
		<key>cal</key>
		<string>106</string>
	</dict>
	<dict>
		<key>name</key>
		<string>牛肚</string>
		<key>cal</key>
		<string>72</string>
	</dict>
	<dict>
		<key>name</key>
		<string>牛肉松</string>
		<key>cal</key>
		<string>445</string>
	</dict>
	<dict>
		<key>name</key>
		<string>牛肉干</string>
		<key>cal</key>
		<string>550</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡胗</string>
		<key>cal</key>
		<string>118</string>
	</dict>
	<dict>
		<key>name</key>
		<string>扒鸡 （3两）</string>
		<key>cal</key>
		<string>500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烤鸡 （3两）</string>
		<key>cal</key>
		<string>520</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡肝</string>
		<key>cal</key>
		<string>121</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡心</string>
		<key>cal</key>
		<string>172</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沙鸡</string>
		<key>cal</key>
		<string>147</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡腿</string>
		<key>cal</key>
		<string>430</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡血</string>
		<key>cal</key>
		<string>49</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡翅膀 （1只）</string>
		<key>cal</key>
		<string>422</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鳕鱼 （100g）</string>
		<key>cal</key>
		<string>88</string>
	</dict>
	<dict>
		<key>name</key>
		<string>石斑鱼 （57g）</string>
		<key>cal</key>
		<string>320</string>
	</dict>
	<dict>
		<key>name</key>
		<string>对虾 （半斤）</string>
		<key>cal</key>
		<string>381</string>
	</dict>
	<dict>
		<key>name</key>
		<string>番茄 （100g）</string>
		<key>cal</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西瓜 （500g）</string>
		<key>cal</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>柠檬</string>
		<key>cal</key>
		<string>31</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香瓜</string>
		<key>cal</key>
		<string>35</string>
	</dict>
	<dict>
		<key>name</key>
		<string>草莓 （100g）</string>
		<key>cal</key>
		<string>35</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杏子 （200g）</string>
		<key>cal</key>
		<string>80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>桃</string>
		<key>cal</key>
		<string>80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哈密瓜 （半个）</string>
		<key>cal</key>
		<string>96</string>
	</dict>
	<dict>
		<key>name</key>
		<string>无花果 （2个）</string>
		<key>cal</key>
		<string>43</string>
	</dict>
	<dict>
		<key>name</key>
		<string>玉米</string>
		<key>cal</key>
		<string>105</string>
	</dict>
	<dict>
		<key>name</key>
		<string>梨</string>
		<key>cal</key>
		<string>38</string>
	</dict>
	<dict>
		<key>name</key>
		<string>橄榄</string>
		<key>cal</key>
		<string>49</string>
	</dict>
	<dict>
		<key>name</key>
		<string>苹果</string>
		<key>cal</key>
		<string>55</string>
	</dict>
	<dict>
		<key>name</key>
		<string>葡萄</string>
		<key>cal</key>
		<string>54</string>
	</dict>
	<dict>
		<key>name</key>
		<string>提子</string>
		<key>cal</key>
		<string>120</string>
	</dict>
	<dict>
		<key>name</key>
		<string>猕猴桃</string>
		<key>cal</key>
		<string>54</string>
	</dict>
	<dict>
		<key>name</key>
		<string>荔枝 （8粒）</string>
		<key>cal</key>
		<string>57</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香蕉</string>
		<key>cal</key>
		<string>84</string>
	</dict>
	<dict>
		<key>name</key>
		<string>橙子</string>
		<key>cal</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>芒果</string>
		<key>cal</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>菠萝 （1片）</string>
		<key>cal</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红糖 （100g）</string>
		<key>cal</key>
		<string>389</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冰糖 （100g）</string>
		<key>cal</key>
		<string>397</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爆米花</string>
		<key>cal</key>
		<string>459</string>
	</dict>
	<dict>
		<key>name</key>
		<string>虾味鲜</string>
		<key>cal</key>
		<string>432</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烤玉米条 （1包）</string>
		<key>cal</key>
		<string>524</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巧克力 （1块）</string>
		<key>cal</key>
		<string>550</string>
	</dict>
	<dict>
		<key>name</key>
		<string>薯片</string>
		<key>cal</key>
		<string>555</string>
	</dict>
	<dict>
		<key>name</key>
		<string>薯片 （大罐）</string>
		<key>cal</key>
		<string>1072</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巧克力甜甜圈</string>
		<key>cal</key>
		<string>281</string>
	</dict>
	<dict>
		<key>name</key>
		<string>铜锣烧</string>
		<key>cal</key>
		<string>140</string>
	</dict>
	<dict>
		<key>name</key>
		<string>麻薯</string>
		<key>cal</key>
		<string>120</string>
	</dict>
	<dict>
		<key>name</key>
		<string>棉花糖</string>
		<key>cal</key>
		<string>140</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太妃糖</string>
		<key>cal</key>
		<string>356</string>
	</dict>
	<dict>
		<key>name</key>
		<string>芝麻花生糖</string>
		<key>cal</key>
		<string>160</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果软糖</string>
		<key>cal</key>
		<string>150</string>
	</dict>
	<dict>
		<key>name</key>
		<string>果汁糖</string>
		<key>cal</key>
		<string>150</string>
	</dict>
	<dict>
		<key>name</key>
		<string>奶油冰淇淋</string>
		<key>cal</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>果汁冰棒</string>
		<key>cal</key>
		<string>80</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蛋筒冰淇淋</string>
		<key>cal</key>
		<string>350</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冰红茶</string>
		<key>cal</key>
		<string>60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>珍珠奶茶</string>
		<key>cal</key>
		<string>160</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果果冻</string>
		<key>cal</key>
		<string>260</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鲜酪乳</string>
		<key>cal</key>
		<string>120</string>
	</dict>
	<dict>
		<key>name</key>
		<string>咖啡冻</string>
		<key>cal</key>
		<string>130</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香豆奶</string>
		<key>cal</key>
		<string>150</string>
	</dict>
	<dict>
		<key>name</key>
		<string>优酸乳</string>
		<key>cal</key>
		<string>230</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酸梅汤</string>
		<key>cal</key>
		<string>190</string>
	</dict>
	<dict>
		<key>name</key>
		<string>芬达</string>
		<key>cal</key>
		<string>190</string>
	</dict>
	<dict>
		<key>name</key>
		<string>雪碧</string>
		<key>cal</key>
		<string>135</string>
	</dict>
	<dict>
		<key>name</key>
		<string>金桔柠檬茶</string>
		<key>cal</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>咖啡</string>
		<key>cal</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>椰子汁</string>
		<key>cal</key>
		<string>180</string>
	</dict>
	<dict>
		<key>name</key>
		<string>牛奶花生 （冷饮）</string>
		<key>cal</key>
		<string>600</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花生仁汤</string>
		<key>cal</key>
		<string>570</string>
	</dict>
	<dict>
		<key>name</key>
		<string>八宝粥</string>
		<key>cal</key>
		<string>440</string>
	</dict>
	<dict>
		<key>name</key>
		<string>烧仙草</string>
		<key>cal</key>
		<string>230</string>
	</dict>
	<dict>
		<key>name</key>
		<string>绿豆汤</string>
		<key>cal</key>
		<string>220</string>
	</dict>
	<dict>
		<key>name</key>
		<string>热可可</string>
		<key>cal</key>
		<string>375</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红豆汤圆</string>
		<key>cal</key>
		<string>255</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白葡萄酒</string>
		<key>cal</key>
		<string>450</string>
	</dict>
	<dict>
		<key>name</key>
		<string>啤酒</string>
		<key>cal</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巧克力蛋糕</string>
		<key>cal</key>
		<string>320</string>
	</dict>
	<dict>
		<key>name</key>
		<string>起司面包</string>
		<key>cal</key>
		<string>420</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红豆面包</string>
		<key>cal</key>
		<string>280</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄油面包</string>
		<key>cal</key>
		<string>320</string>
	</dict>
	<dict>
		<key>name</key>
		<string>牛角面包</string>
		<key>cal</key>
		<string>375</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肉松面包</string>
		<key>cal</key>
		<string>360</string>
	</dict>
	<dict>
		<key>name</key>
		<string>苹果派</string>
		<key>cal</key>
		<string>270</string>
	</dict>
	<dict>
		<key>name</key>
		<string>热狗</string>
		<key>cal</key>
		<string>265</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果蛋糕</string>
		<key>cal</key>
		<string>297</string>
	</dict>
	<dict>
		<key>name</key>
		<string>桃酥</string>
		<key>cal</key>
		<string>481</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡腿酥</string>
		<key>cal</key>
		<string>436</string>
	</dict>
	<dict>
		<key>name</key>
		<string>京式黄酥</string>
		<key>cal</key>
		<string>490</string>
	</dict>
	<dict>
		<key>name</key>
		<string>核桃薄脆</string>
		<key>cal</key>
		<string>481</string>
	</dict>
	<dict>
		<key>name</key>
		<string>凤围酥</string>
		<key>cal</key>
		<string>511</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蛋黄酥</string>
		<key>cal</key>
		<string>386</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香油炒面</string>
		<key>cal</key>
		<string>407</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酥皮糕点</string>
		<key>cal</key>
		<string>426</string>
	</dict>
	<dict>
		<key>name</key>
		<string>绿豆糕</string>
		<key>cal</key>
		<string>350</string>
	</dict>
	<dict>
		<key>name</key>
		<string>老婆饼</string>
		<key>cal</key>
		<string>250</string>
	</dict>
	<dict>
		<key>name</key>
		<string>京八件</string>
		<key>cal</key>
		<string>435</string>
	</dict>
	<dict>
		<key>name</key>
		<string>状元饼</string>
		<key>cal</key>
		<string>435</string>
	</dict>
	<dict>
		<key>name</key>
		<string>麻花</string>
		<key>cal</key>
		<string>524</string>
	</dict>
	<dict>
		<key>name</key>
		<string>月饼</string>
		<key>cal</key>
		<string>424</string>
	</dict>
	<dict>
		<key>name</key>
		<string>年糕</string>
		<key>cal</key>
		<string>154</string>
	</dict>
	<dict>
		<key>name</key>
		<string>江米条</string>
		<key>cal</key>
		<string>439</string>
	</dict>
	<dict>
		<key>name</key>
		<string>驴打滚</string>
		<key>cal</key>
		<string>194</string>
	</dict>
	<dict>
		<key>name</key>
		<string>碗糕</string>
		<key>cal</key>
		<string>332</string>
	</dict>
	<dict>
		<key>name</key>
		<string>豌豆黄</string>
		<key>cal</key>
		<string>134</string>
	</dict>
	<dict>
		<key>name</key>
		<string>藕粉</string>
		<key>cal</key>
		<string>371</string>
	</dict>
	<dict>
		<key>name</key>
		<string>可乐</string>
		<key>cal</key>
		<string>280</string>
	</dict>
	<dict>
		<key>name</key>
		<string>番茄汁</string>
		<key>cal</key>
		<string>45</string>
	</dict>
	<dict>
		<key>name</key>
		<string>苹果汁</string>
		<key>cal</key>
		<string>120</string>
	</dict>
	<dict>
		<key>name</key>
		<string>橙汁</string>
		<key>cal</key>
		<string>110</string>
	</dict>
	<dict>
		<key>name</key>
		<string>柠檬汁</string>
		<key>cal</key>
		<string>60</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汉堡</string>
		<key>cal</key>
		<string>260</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巨无霸汉堡</string>
		<key>cal</key>
		<string>560</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鸡块 （6个）</string>
		<key>cal</key>
		<string>290</string>
	</dict>
	<dict>
		<key>name</key>
		<string>薯条</string>
		<key>cal</key>
		<string>479</string>
	</dict>
	<dict>
		<key>name</key>
		<string>松饼</string>
		<key>cal</key>
		<string>186</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蛋挞 （1个）</string>
		<key>cal</key>
		<string>290</string>
	</dict>
	<dict>
		<key>name</key>
		<string>披萨 （500g）</string>
		<key>cal</key>
		<string>1190</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海带</string>
		<key>cal</key>
		<string>23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蘑菇</string>
		<key>cal</key>
		<string>28</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冬瓜</string>
		<key>cal</key>
		<string>11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>芹菜</string>
		<key>cal</key>
		<string>10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>豆芽</string>
		<key>cal</key>
		<string>35</string>
	</dict>
	<dict>
		<key>name</key>
		<string>包心菜</string>
		<key>cal</key>
		<string>30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>胡萝卜</string>
		<key>cal</key>
		<string>30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花菜</string>
		<key>cal</key>
		<string>30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄瓜</string>
		<key>cal</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>青椒</string>
		<key>cal</key>
		<string>15</string>
	</dict>
	<dict>
		<key>name</key>
		<string>竹笋</string>
		<key>cal</key>
		<string>40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白菜</string>
		<key>cal</key>
		<string>40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大蒜</string>
		<key>cal</key>
		<string>40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>生菜</string>
		<key>cal</key>
		<string>40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>土豆</string>
		<key>cal</key>
		<string>76</string>
	</dict>
	<dict>
		<key>name</key>
		<string>咖喱饭</string>
		<key>cal</key>
		<string>640</string>
	</dict>
	<dict>
		<key>name</key>
		<string>什锦炒饭</string>
		<key>cal</key>
		<string>790</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阳春面</string>
		<key>cal</key>
		<string>392</string>
	</dict>
	<dict>
		<key>name</key>
		<string>牛肉面</string>
		<key>cal</key>
		<string>540</string>
	</dict>
	<dict>
		<key>name</key>
		<string>意大利面</string>
		<key>cal</key>
		<string>600</string>
	</dict>
	<dict>
		<key>name</key>
		<string>炸酱面</string>
		<key>cal</key>
		<string>385</string>
	</dict>
	<dict>
		<key>name</key>
		<string>炸肉片</string>
		<key>cal</key>
		<string>302</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海鲜汤</string>
		<key>cal</key>
		<string>192</string>
	</dict>
	<dict>
		<key>name</key>
		<string>馄饨面</string>
		<key>cal</key>
		<string>560</string>
	</dict>
	<dict>
		<key>name</key>
		<string>排骨饭</string>
		<key>cal</key>
		<string>480</string>
	</dict>
	<dict>
		<key>name</key>
		<string>排骨面</string>
		<key>cal</key>
		<string>480</string>
	</dict>
	<dict>
		<key>name</key>
		<string>方便面</string>
		<key>cal</key>
		<string>470</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肉丝面</string>
		<key>cal</key>
		<string>440</string>
	</dict>
	<dict>
		<key>name</key>
		<string>炸鸡 （500g）</string>
		<key>cal</key>
		<string>972</string>
	</dict>
</array>
</plist>
